#search-container {
    margin-top: 10px;
}

#searchInput {
    margin-left: 5px;
}

#charactersTable {
    margin-top: 20px;
}

#filters {
    margin-top: 10px;
}

.highlight {
    background-color: darkgreen;
    color: white;
}
